.login-container{
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

.nav-bar-title{
    display: flex;
}

.back-button{
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 0.5rem;
}

.note{
    font-size: 10px;
    font-style: italic;
}
